.GridForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-self: center;
    row-gap: 1em;
    margin: 1em auto;
    padding: 1em;
    border: 3px solid #fff;
    width: 30%;
}

.GridForm:focus-within{
    box-shadow: 0px 0.2em 2.5em #c4c4c4;
    transform: scale(1.025)
}

.CPTFade{
    animation: fadeInAnimation 1s;
    animation-iteration-count: infinite;
    animation-fill-mode:forwards;
    margin: 1em;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    50% {
        opacity: 1;
        transform: scale(2.0);
            -webkit-transform: scale(2.0);
    }
    100%{
        opacity: 0;
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

@media (max-width: 1180px) {
    .GridForm {
        margin: 0 auto;
        width: 75%;
        padding: 0.5em;
        margin-bottom: 1em;
    }
}