.Button {
    background-color: transparent;
    border: 1px solid black;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    margin: 1em;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}