.FlexList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
  }
  
  .FlexTable {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .ResultsTable {
      border: 3px solid white;
      margin-bottom: 1em;
  }
  
  .ResultsHeader {
      color: white;
      border-bottom: 3px solid white;
  }
  
  .ResultsRow:nth-child(even) {
      background: #7E42D4;
      color: white;
  }
  
  .ResultsRow:nth-child(odd) {
    background: #491D88;
    color: white;
  }

  .Overlay {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.7);
    padding: 2em;
  }

  .Modal {
    background-color:#491D88 ;
    padding: 1em 2em;
  }
  