.GridForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-self: center;
    row-gap: 1em;
    width: 65%;
    margin: 1em auto;
    padding: 1em;
    border: 1px solid #fff;
}

.GridForm:focus-within{
    box-shadow: 0px 0.2em 2.5em #c4c4c4;
    transform: scale(1.025)
}

input[type="date"]:focus,
input[type="text"]:focus,
select:focus {
  border-color: #2491eb;
  outline: 1px solid #2491eb;
}

.CPTFade{
    animation: fadeInAnimation 1s;
    animation-iteration-count: infinite;
    animation-fill-mode:forwards;
    margin: 1em;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    50% {
        opacity: 1;
        transform: scale(2.0);
            -webkit-transform: scale(2.0);
    }
    100%{
        opacity: 0;
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}