.FlexList {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  margin-bottom: 1em;
}

.FlexTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 1em;
    width: 100%;
}

.ResultsTable {
    border: 3px solid white;
    box-shadow: 0 2 2;
}

.ResultsHeader {
    color: white;
}

.ResultsRow:nth-child(even) {
    background: white;
    color: #491d88;
}

.ResultsRow:nth-child(odd) {
  background: white;
  color: #491d88;
}

td, th {
  padding: 1em;
}

.pagination {
  display: flex;
  list-style: none;
  outline: none;
}

.pagination > .active > a{
  background-color:  #fff ;
  border-color:  #fff ;
  color: #491d88;
}
.pagination > li > a{
  border: 1px solid  #fff ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #fff ;
  border-color:  #fff;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color:  #fff
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}