html {
  text-align: center;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(188,170,196,1) 35%, rgba(84,6,90,1) 100%);
}
h1 {
  color: #ffffff;
  text-align: left;
  margin-left: 5em;
}