@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html {
    background-color: #72506b;
    color: white;
  }

  .QxRows:nth-child(even) {
    background-color: #825a8a;
    padding: 1rem 0;
  }

  .QxRows:nth-child(odd) {
    background-color: #6c5380;
    padding: 1rem 0;
  }

  .CPTFade {
    animation: fadeInAnimation 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    margin: 0 auto;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
      transform: scale(1);
      -webkit-transform: scale(1);
    }
    50% {
      opacity: 1;
      transform: scale(2);
      -webkit-transform: scale(2);
    }
    100% {
      opacity: 0;
      transform: scale(1);
      -webkit-transform: scale(1);
    }
  }
}
